<%- include ("../partials/header.ejs") %>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="stylesheet" type="text/css" href="homepage/index.css">
	</head>

	<body>
		<%- include ("../partials/navbar.ejs") %>
		<div id="swup" class="container-fluid transition-fade main">
			<div class="row">
				<div class="col-6 col-lg-2"></div>
				<div class="col-12 col-lg-8">
					<div class="container-fluid profile">
						<div class="row">
							<div class="col-4 profile-img">
								<img src="<%= currentUser.cover %>">
							</div>
							<div class="col-8 profile-info d-flex flex-column">
								<div class="username d-flex align-items-center">
									<h1 class="user-nickname" data-user-id="<%= currentUser.id %>"><%= currentUser.nickname %></h1>
									<% if(currentUser.id != user.id){ %>
										<% if(followed == true) { %>
											<button type="button" id="follow-btn" class="btn btn-warning">Followed</button>
										<% } else { %>
											<button type="button" id="follow-btn" class="btn btn-success">Follow</button>
										<% } %>
									<% } %>
								</div>
								<% if(currentUser.posts.length <= 1) { %>
									<p style="font-size: 1.3rem; margin: 0;"><strong><%= currentUser.posts.length %></strong> post <span> </span>						
								<% } else { %>
									<p  style="font-size: 1.3rem; margin: 0;"><strong><%= currentUser.posts.length %></strong> posts <span>  </span>
								<% } %>
								<% if(currentUser.followers.length <= 1) { %>
									<span id="n-o-followers" style="font-weight:700;"><%= currentUser.followers.length %></span> follower</p>
								<% } else { %>
									<span id="n-o-followers" style="font-weight:700;"><%= currentUser.followers.length %></span> followers </p>
								<% } %>
								<p>	 <%= currentUser.description %> </p>
							</div>
						</div>
					</div>
					<div class="container">
						<hr>
					</div>
					<div class="square-container container-fluid">
						<% currentUser.posts.forEach((post) => { %>
							<div class="square" data-aos="zooms-in">
								<div class="content">
									<a href="/post/<%= post.id %>">
										<img id="post-img" src="<%= post.cover %>">
									</a>
									<div id="reaction">
										<i class="far fa-grin-wink">
											<%= post.likes.length %>
										</i>
										<i class="fas fa-comment-alt">
											<%= post.comments.length %>
										</i>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
				<div class="col-0 col-lg-2 navigation-btn" id="right"></div>
			</div>
		</div>

		<div class="followers-div container">
			<div class="row" id="followers">
				<div class="col-4"></div>
				<div class="col-4">
					<div>
						<i class="fas fa-times-circle" id="escape-btn"></i>
					</div>
					<div class="row" id="content">
						<% user.followers.forEach(follower => { %>
							<div class="user col-9">
								<a href="/<%= follower.id%>">
									<div class="col-3">
										<img class="profile" src="<%= follower.cover%>">
									</div>
									<div class="col-9">
										<p class="user-nickname"><%= follower.nickname%></p>
									</div>
								</a>
							</div>
							<div class="col-3" data-user-id="<%= follower.id %>">
								<% if(followedBack.includes(follower.id)) { %>
									<button class="btn btn-info fDiv-follow-btn">Followed</button>
								<%	} %>
								<% if(!followedBack.includes(follower.id)) { %>
									<button class="btn btn-success fDiv-follow-btn">Follow</button>
								<% } %>
							</div>
						<% }) %>
					</div>
				</div>
				<div class="col-4"></div>
			</div> 
		</div>

	<%- include ("../partials/touch.ejs") %>
	<%- include ("../partials/footer.ejs") %>
	<script>
		AOS.init();
	</script>	
	<script type="module" src="homepage/index.js"></script>
</body>
</html>